

html,
body {
	height: 100%;
	font-family: "Muli", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	font-weight: 400;
	font-family: "Muli", sans-serif;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16px;
	font-family: "Muli", sans-serif;
	color: #636363;
	font-weight: 400;
	line-height: 26px;
	margin: 0 0 15px 0;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: #fff;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
  Helper CSS
-----------------------*/

.section-title {
	margin-bottom: 40px;
	text-align: center;
}

.section-title .product-price {
	font-size: 24px;
	font-weight: 700;
	color: #e7ab3c;
}

.section-title .product-price span {
	font-size: 16px;
	font-weight: 400;
	color: #636363;
}

.section-title h2 {
	color: #252525;
	font-size: 36px;
	font-weight: 700;
	margin-bottom: 38px;
	position: relative;
}

.section-title h2:before {
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	width: 80px;
	height: 3px;
	background: #e7ab3c;
	content: "";
	margin: 0 auto;
}

.section-title p {
	color: #6e6e6e;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}

.spad {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white h6,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/* buttons */

.primary-btn {
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	padding: 12px 30px;
	color: #ffffff;
	background: #0e9fc4;
	text-transform: uppercase;
}

.site-btn {
	color: #ffffff;
	background: #05a7a7;
	border: 1px solid #101e5c;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	padding: 13px 45px 11px;
	cursor: pointer;
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #000;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

/*---------------------
  Header
-----------------------*/


.nav-item {
	background: #191919;
	display: -webkit-box;
	display: -ms-flexbox;
	display:flex;
}

.nav-item .nav-depart {
	float: left;
}

.nav-item .nav-depart .depart-btn {
	background: #3b3b3b;
	color: #ffffff;
	padding: 14px 84px 14px 18px;
	cursor: pointer;
	position: relative;
}


.nav-item .nav-menu {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: relative;
}

.nav-item .nav-menu li {
	list-style: none;
	display: inline-block;
	margin-left: -5px;
	position: relative;
}

.nav-item .nav-menu li.active a {
	background: #1630BE;
}

.nav-item .nav-menu li a {
	font-size: 14px;
	font-weight: 700;
	display: block;
	color: #ffffff;
	border-right: 2px solid #3b3b3b;
	text-transform: uppercase;
	padding: 16px 42px 15px;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.nav-item .nav-menu li:hover>a {
	background: #062569;
}


.slicknav_menu {
	display: none;
}

/*---------------------
  Hero Section
-----------------------*/

.hero-items .single-hero-items {
	height: 725px;
	padding-top: 210px;
}

.hero-items .single-hero-items span {
	color: #f7cb08;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	line-height: 28px;
	display: inline-block;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-items .single-hero-items h1 {
	color: #ffffff;
	font-size: 72px;
	font-weight: 700;
	margin-bottom: 6px;
	position: relative;
	top: 50px;
	opacity: 0;
}

.hero-items .single-hero-items p {
	margin-bottom: 42px;
	color: #ffffff;
	position: relative;
	top: 100px;
	opacity: 0;
	font-size: 15px;
}

.hero-items .single-hero-items .primary-btn {
	position: relative;
	top: 100px;
	opacity: 0;
}


.hero-items .off-card h2 span {
	display: block;
	font-size: 32px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
	margin-top: 6px;
}

.hero-items .owl-item.active .single-hero-items span,
.hero-items .owl-item.active .single-hero-items h1,
.hero-items .owl-item.active .single-hero-items p,
.hero-items .owl-item.active .single-hero-items .primary-btn {
	top: 0;
	opacity: 1;
}

.hero-items .owl-item.active .single-hero-items span {
	-webkit-transition: all 0.2s ease 0.2s;
	-o-transition: all 0.2s ease 0.2s;
	transition: all 0.2s ease 0.2s;
}

.hero-items .owl-item.active .single-hero-items h1 {
	-webkit-transition: all 0.4s ease 0.4s;
	-o-transition: all 0.4s ease 0.4s;
	transition: all 0.4s ease 0.4s;
}

.hero-items .owl-item.active .single-hero-items p {
	-webkit-transition: all 0.6s ease 0.6s;
	-o-transition: all 0.6s ease 0.6s;
	transition: all 0.6s ease 0.6s;
}

.hero-items .owl-item.active .single-hero-items .primary-btn {
	-webkit-transition: all 0.8s ease 0.8s;
	-o-transition: all 0.8s ease 0.8s;
	transition: all 0.8s ease 0.8s;
}

.hero-items .owl-item.active .single-hero-items .off-card {
	opacity: 1;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: all 1s ease 1s;
	-o-transition: all 1s ease 1s;
	transition: all 1s ease 1s;
}

.hero-items .owl-nav button[type=button] {
	font-size: 30px;
	position: absolute;
	left: 40px;
	top: 45%;
	color: #252525;
}

.hero-items .owl-nav button[type=button]:hover {
	color: #dfad51;
}

.hero-items .owl-nav button[type=button].owl-next {
	left: auto;
	right: 40px;
}



/*---------------------
  Latest Blog
-----------------------*/

.latest-blog {
	padding-top: 72px;
	padding-bottom: 80px;
}

.latest-blog .section-title {
	margin-bottom: 55px;
}

.single-latest-blog {
	margin-bottom: 25px;
}

.single-latest-blog img {
	min-width: 100%;
}

.single-latest-blog .latest-text {
	padding-top: 25px;
}

.single-latest-blog .latest-text .tag-list {
	margin-bottom: 8px;
}

.single-latest-blog .latest-text .tag-list .tag-item {
	font-size: 16px;
	color: #a2a1a1;
	display: inline-block;
	margin-right: 15px;
}

.single-latest-blog .latest-text .tag-list .tag-item i {
	color: #e7ab3c;
}

.single-latest-blog .latest-text a {
	display: block;
}

.single-latest-blog .latest-text a h4 {
	color: #252525;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 16px;
}

.benefit-items {
	border: 1px solid #ebebeb;
	margin-top: 45px;
}

.benefit-items .single-benefit {
	padding-top: 30px;
	padding-bottom: 25px;
	padding-left: 55px;
	padding-right: 55px;
	border-right: 1px solid #F3F4F0;
}

.benefit-items .single-benefit .sb-icon {
	float: left;
	margin-right: 20px;
}

.benefit-items .single-benefit .sb-text {
	display: table;
}

.benefit-items .single-benefit .sb-text h6 {
	color: #252525;
	line-height: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.benefit-items .single-benefit .sb-text p {
	margin-bottom: 0;
	color: #252525;
	line-height: 20px;
}


/*---------------------
  Footer
-----------------------*/

.footer-section {
	background: #191919;
	padding-top: 75px;
}

.footer-left {
	margin-bottom: 30px;
}

.footer-left .footer-logo {
	margin-bottom: 24px;
}

.footer-left .footer-logo a {
	display: inline-block;
}

.footer-left ul li {
	list-style: none;
	color: #b2b2b2;
	font-size: 16px;
	line-height: 30px;
}

.footer-left .footer-social {
	padding-top: 25px;
}

.footer-left .footer-social a {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: #434445;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	margin-right: 7px;
	position: relative;
	z-index: 1;
}

.footer-left .footer-social a:hover:before {
	opacity: 1;
}

.footer-left .footer-social a:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #e7ab3c;
	content: "";
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	z-index: -1;
}

.footer-widget {
	margin-bottom: 30px;
}

.footer-widget h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 26px;
}

.footer-widget ul li {
	list-style: none;
}

.footer-widget ul li a {
	line-height: 36px;
	font-size: 16px;
	color: #b2b2b2;
}

.newslatter-item h5 {
	color: #ffffff;
	font-weight: 700;
	margin-bottom: 30px;
}

.newslatter-item p {
	color: #b2b2b2;
	line-height: 26px;
}

.newslatter-item .subscribe-form {
	position: relative;
}

.newslatter-item .subscribe-form input {
	color: #b2b2b2;
	background: #303030;
	width: 100%;
	height: 46px;
	font-size: 16px;
	border: none;
	padding-left: 20px;
}

.newslatter-item .subscribe-form input::-webkit-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-moz-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input:-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::-ms-input-placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form input::placeholder {
	color: #b2b2b2;
}

.newslatter-item .subscribe-form button {
	display: inline-block;
	color: #ffffff;
	background: #e7ab3c;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #e7ab3c;
	position: absolute;
	right: 0;
	top: 0;
	padding: 13px 20px 12px;
	cursor: pointer;
}

.copyright-reserved {
	border-top: 1px solid #303030;
	padding: 15px 0;
	margin-top: 45px;
}

.copyright-reserved .copyright-text {
	float: left;
	font-size: 16px;
	color: #b2b2b2;
}

.copyright-reserved .copyright-text a {
	color: #b2b2b2;
}

.copyright-reserved .copyright-text i {
	color: #cc2424;
}

.copyright-reserved .copyright-text a:hover {
	color: #e7ab3c;
}

.copyright-reserved .payment-pic {
	float: right;
}



/*---------------------
  Blog Section
-----------------------*/

.blog-section {
	padding-top: 80px;
	padding-bottom: 80px;
}

.blog-section .loading-more {
	padding-top: 0;
}

.blog-sidebar .search-form {
	margin-bottom: 55px;
}

.blog-sidebar .search-form h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 12px;
}

.blog-sidebar .search-form form {
	position: relative;
}

.blog-sidebar .search-form form input {
	height: 46px;
	width: 100%;
	border: 2px solid #ECECEC;
	padding-left: 20px;
	font-size: 18px;
	color: #b2b2b2;
}

.blog-sidebar .search-form form button {
	position: absolute;
	right: 0;
	top: 0;
	color: #ffffff;
	background: #252525;
	border: 1px solid #252525;
	height: 46px;
	padding: 0 15px;
	cursor: pointer;
}

.blog-sidebar .blog-catagory {
	margin-bottom: 41px;
}

.blog-sidebar .blog-catagory h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 14px;
}

.blog-sidebar .blog-catagory ul li {
	list-style: none;
}

.blog-sidebar .blog-catagory ul li a {
	font-size: 16px;
	color: #636363;
	line-height: 39px;
}

.blog-sidebar .recent-post {
	margin-bottom: 55px;
}

.blog-sidebar .recent-post h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 28px;
}

.blog-sidebar .recent-post .recent-blog .rb-item {
	overflow: hidden;
	margin-bottom: 30px;
	display: block;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-pic {
	float: left;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-pic img {
	height: 80px;
	width: 80px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text {
	display: table;
	padding-left: 16px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text h6 {
	color: #252525;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 10px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text p {
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7ab3c;
	letter-spacing: 2px;
	line-height: 20px;
}

.blog-sidebar .recent-post .recent-blog .rb-item .rb-text p span {
	color: #b2b2b2;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}

.blog-sidebar .blog-tags h4 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 20px;
}

.blog-sidebar .blog-tags .tag-item a {
	display: inline-block;
	font-size: 16px;
	color: #636363;
	padding: 5px 15px;
	border: 1px solid #ebebeb;
	margin-right: 5px;
	margin-bottom: 9px;
	border-radius: 2px;
}

.blog-item {
	margin-bottom: 42px;
}

.blog-item .bi-pic img {
	min-width: 100%;
}

.blog-item .bi-text {
	padding-top: 24px;
}

.blog-item .bi-text h4 {
	color: #252525;
	font-weight: 700;
	line-height: 30px;
	margin-bottom: 16px;
}

.blog-item .bi-text p {
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #e7ab3c;
	letter-spacing: 2px;
	line-height: 20px;
}

.blog-item .bi-text p span {
	color: #b2b2b2;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}

/*---------------------
  Blog Details
-----------------------*/

.blog-details {
	padding-top: 72px;
	padding-bottom: 80px;
}

.blog-details-inner .blog-detail-title {
	text-align: center;
	margin-bottom: 25px;
	
}

.blog-details-inner .blog-detail-title h2 {
	color: #252525;
	font-weight: 700;
	margin-bottom: 15px;
	color: #0e9fc4;
}

.blog-details-inner .blog-detail-title p {
	margin-bottom: 0;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #19d1ff;
	letter-spacing: 2px;
	line-height: 20px;
	display: inline-block;
	position: relative;
}

.blog-details-inner .blog-detail-title p:before {
	position: absolute;
	left: -175px;
	top: 8px;
	height: 1px;
	width: 125px;
	background: #ebebeb;
	content: "";
}

.blog-details-inner .blog-detail-title p:after {
	position: absolute;
	right: -175px;
	top: 7px;
	height: 1px;
	width: 125px;
	background: #ebebeb;
	content: "";
}

.blog-details-inner .blog-detail-title p span {
	color: #b2b2b2;
	font-size: 14px;
	font-weight: 400;
	text-transform: capitalize;
	letter-spacing: 0;
}

.blog-details-inner .blog-large-pic iframe {
	min-width: 100%;
	min-height: 100%;
}

.blog-details-inner .blog-detail-desc {
	margin-top: 22px;
	margin-bottom: 32px;
}

.blog-details-inner .blog-detail-desc p {
	font-size: 18px;
	line-height: 30px;
}

.blog-details-inner .blog-detail-desc p:first-of-type:first-letter {
	float: left;
	font-size: 60px;
	text-transform: uppercase;
	color: #252525;
	margin-top: 14px;
	margin-right: 10px;
}

.blog-details-inner .blog-quote {
	margin-bottom: 65px;
}

.blog-details-inner .blog-quote p {
	position: relative;
	color: #252525;
	font-size: 20px;
	font-weight: 700;
	line-height: 30px;
	padding-left: 32px;
}

.blog-details-inner .blog-quote p span {
	color: #161715;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.blog-details-inner .blog-quote p:before {
	position: absolute;
	left: 0;
	top: 0;
	height: 88px;
	width: 3px;
	background: #0f9ff3;
	content: "";
}

.blog-details-inner .blog-more {
	margin-bottom: 32px;
}

.blog-details-inner .blog-more img {
	min-width: 100%;
}

.blog-details-inner p {
	font-size: 18px;
	line-height: 30px;
}

.blog-details-inner .tag-share {
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 54px;
	margin-top: 46px;
}

.blog-details-inner .tag-share .details-tag {
	float: left;
}

.blog-details-inner .tag-share .details-tag ul li {
	list-style: none;
	display: inline-block;
	color: #171717;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	margin-right: 16px;
}

.blog-details-inner .tag-share .details-tag ul li i {
	font-size: 18px;
	color: #1dcaff;
}

.blog-details-inner .tag-share .blog-share {
	float: right;
}

.blog-details-inner .tag-share .blog-share .social-links {
	display: inline-block;
}

.blog-details-inner .tag-share .blog-share .social-links a {
	display: inline-block;
	color: #07a4ff;
	margin-left: 25px;
}

.blog-details-inner .tag-share .blog-share span {
	font-size: 16px;
	color: #2d292f;
}


.blog-details-inner .leave-comment {
	padding-top: 55px;
}

.blog-details-inner .leave-comment h4 {
	color: #292f3b;
	font-weight: 700;
	margin-bottom: 35px;
}

.blog-details-inner .leave-comment .comment-form input {
	width: 100%;
	font-size: 16px;
	color: #636363;
	height: 50px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	margin-bottom: 30px;
}

.blog-details-inner .leave-comment .comment-form textarea {
	width: 100%;
	resize: none;
	font-size: 16px;
	color: #636363;
	height: 116px;
	border: 1px solid #ebebeb;
	border-radius: 5px;
	padding-left: 20px;
	padding-top: 10px;
	margin-bottom: 45px;
}
.container{
	display: flex;
	padding: 10px;
}
.primer{
	width: 300px;
	background-color: #f44336;
	
}
.primer .formulario{
	padding: 30px;
	border-left: 2px solid #a7190e;
	border-right: 3px solid #a7190e;
	border-top: 6px solid #a7190e;
	border-bottom: 9px solid #a7190e;
}
.segundo{
	width: 500px;
	height: fit-content;
	background-color: cadetblue;
	margin-left: 5px;
	border: dotted #466194 5px;

}
.segundo .formulario{
	padding: 20px;
	border: solid #466194 20px;
	
}
.segundo .grande{
	height: 50px;
}
